<div id="wrapper" class="project-wrapper">
	<div id="navsecond">
		<div id="course">
			<h2>目录</h2>
		</div>
		<div class="sidebar-content">
			<div class="sidebar-tree">
				<div class="sidebar-tree-content">
					<div class="dd" id="nestable_handbook" data-tid="4550" data-id="handbook">
						<ol class="dd-list" style="margin: 10px 6px;padding: 0;">
							<li class="dd-item  " data-id="8dg2tf21" ismenu="1">
								<div class="dd-content folder-open">
									<h2 class="menu-title"><span class="leftth" title="AngularJS 教程">
									AngularJS 教程</span>
									</h2>
								</div>
								<ol class="dd-list" style="margin: 0;padding: 0;">
									<li class="dd-item active " data-id="angularjs-tutorial">
										<div class="dd-content ">
											<a ng-href="#!/html/page1/a" title="AngularJS 教程" href="#!/html/page1/a" >AngularJS 教程</a>
										</div>
									</li>
									<li class="dd-item  " data-id="angularjs-intro">
										<div class="dd-content ">
											<a ng-href="#!/html/page1/b" title="AngularJS 简介" href="#!/html/page1/b" >AngularJS 简介</a>
										</div>
									</li>
									<li class="dd-item  " data-id="angularjs-expressions">
										<div class="dd-content ">
											<a ng-href="#!/html/page1/c" title="AngularJS 表达式" href="#!/html/page1/c" >AngularJS 表达式</a>
										</div>
									</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="pro-mian" class="main-container">
		<div class="project-body">
			<div ui-view></div>
		</div>
	</div>
	<div id="sidebar">
		<div id="pro-intro">
			<div id="course">
				<h2>当前阅读</h2>
			</div>
			<div class="pro-box">
				<a href="http://www.w3cschool.cn/angularjs/" title="AngularJS教程">
					<div class="pro-img">
						<img class="pimgcover" src="./AngularJS 教程_w3cschool_files/cover_57.png" width="100" height="100" alt="AngularJS教程">
					</div>
					<div class="pro-info">
						<h4>AngularJS教程</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="tools-box">
			<div id="course">
				<h2>扩展栏目</h2>
			</div>
			<div id="tools">
				<h5 id="tools_1"><a href="http://www.w3cschool.cn/webide">开发工具IDE</a></h5>
				<h5 id="tools_3"><a href="http://www.w3cschool.cn/codecamp/">编程训练营</a></h5>
			</div>
		</div>
		<!--广告放置-->
		<div class="sidebar-box">
			<div id="course">
				<h2>Advertisement</h2> </div>
			<div class="abox">
				<a href="http://www.w3cschool.cn/index/adlog?url=//shang.qq.com/wpa/qunwpa?idkey=25c171d8c57c2814d71d29d7135c1fd7f1d8e1f8afb8502779428d7104e07f95&amp;type=sidebar" target="_blank" rel="nofollow"><img src="./AngularJS 教程_w3cschool_files/1491635835931215.jpg" alt="大牛教你学Java"></a>
			</div>
		</div>
		<!--分类导航-->
		<!--siderbar_nav start-->
		<div class="sidebar-box">
			<div id="course">
				<h2>分类导航</h2>
			</div>
			<ul class="nav1">
				<li class="li1">
					<a href="javascript:;">最新推荐</a>
					<ul class="nav2">
						<li class="li2">
							<a href="http://www.w3cschool.cn/freejquery/index.html" title="免费Jquery插件合集">免费Jquery插件合集</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/plk2fi/index.html" title="前端学习资源汇总">前端学习资源汇总</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/wxxcx/index.html" title="微信小程序资源汇总">微信小程序资源汇总</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/smarty/index.html" title="Smarty教程">Smarty教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/kfm2f1/index.html" title="SEO基础知识教程">SEO基础知识教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/wkspring/index.html" title="Spring 教程">Spring 教程</a>
						</li>
					</ul>
				</li>
				<li class="li1">
					<a href="javascript:;">HTML/CSS</a>
					<ul class="nav2">
						<li class="li2">
							<a href="http://www.w3cschool.cn/html/index.html" title="HTML教程">HTML教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/html5/index.html" title="HTML5教程">HTML5教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/css/index.html" title="CSS教程">CSS教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/css3/index.html" title="CSS3教程">CSS3教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/bootstrap/index.html" title="bootstrap教程">bootstrap教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/foundation/index.html" title="Foundation5 教程">Foundation5 教程</a>
						</li>
					</ul>
				</li>
				<li class="li1">
					<a href="javascript:;">javascript</a>
					<ul class="nav2">
						<li class="li2">
							<a href="http://www.w3cschool.cn/javascript/index.html" title="javascript教程">javascript教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/htmldom/index.html" title="HTML DOM教程">HTML DOM教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/jquery/index.html" title="jQuery教程">jQuery教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/angularjs/index.html" title="AngularJS教程">AngularJS教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/react/index.html" title="React 教程">React 教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/jqueryui/index.html" title="jQuery UI教程">jQuery UI教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/jqueryeasyui/index.html" title="jQuery EasyUI教程">jQuery EasyUI教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/nodejs/index.html" title="Node.js教程">Node.js教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/ajax/index.html" title="AJAX教程">AJAX教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/json/index.html" title="JSON教程">JSON教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/highcharts/index.html" title="Highcharts教程">Highcharts教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/googleditu/index.html" title="Google地图教程">Google地图教程</a>
						</li>
					</ul>
				</li>
				<li class="li1">
					<a href="javascript:;">服务端</a>
					<ul class="nav2">
						<li class="li2">
							<a href="http://www.w3cschool.cn/php/index.html" title="PHP教程">PHP教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/python/index.html" title="python基础教程">python基础教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/python3/index.html" title="Python 3教程">Python 3教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/django/index.html" title="Django教程">Django教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/linux/index.html" title="Linux教程">Linux教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/docker/index.html" title="Docker教程">Docker教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/ruby/index.html" title="Ruby教程">Ruby教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/java/index.html" title="Java教程">Java教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/c/index.html" title="C教程">C教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/cpp/index.html" title="C++教程">C++教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/perl/index.html" title="Perl 教程">Perl 教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/servlet/index.html" title="Servlet教程">Servlet教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/jsp/index.html" title="JSP教程">JSP教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/lua/index.html" title="Lua教程">Lua教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/scala/index.html" title="scala教程">scala教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/go/index.html" title="Go教程">Go教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/shejimoshi/index.html" title="设计模式">设计模式</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/zhengzebiaodashi/index.html" title="正则表达式">正则表达式</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/asp/index.html" title="ASP教程">ASP教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/appml/index.html" title="AppML教程">AppML教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/vbscript/index.html" title="VBScript教程">VBScript教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/wkspring/index.html" title="Spring 教程">Spring 教程</a>
						</li>
					</ul>
				</li>
				<li class="li1">
					<a href="javascript:;">数据库</a>
					<ul class="nav2">
						<li class="li2">
							<a href="http://www.w3cschool.cn/sql/index.html" title="SQL教程">SQL教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/mysql/index.html" title="MySQL教程">MySQL教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/sqlite/index.html" title="SQLite教程">SQLite教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/mongodb/index.html" title="MongoDB教程">MongoDB教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/redis/index.html" title="Redis教程">Redis教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/memcached/index.html" title="Memcached教程">Memcached教程</a>
						</li>
					</ul>
				</li>
				<li class="li1">
					<a href="javascript:;">移动端</a>
					<ul class="nav2">
						<li class="li2">
							<a href="http://www.w3cschool.cn/android/index.html" title="Android教程">Android教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/swift/index.html" title="Swift 教程">Swift 教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/jquerymobile/index.html" title="jQuery Mobile教程">jQuery Mobile教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/ionic/index.html" title="ionic">ionic</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/ios/index.html" title="ios开发手册">ios开发手册</a>
						</li>
					</ul>
				</li>
				<li class="li1">
					<a href="javascript:;">ASP.NET</a>
					<ul class="nav2">
						<li class="li2">
							<a href="http://www.w3cschool.cn/aspnet/index.html" title="ASP.NET教程">ASP.NET教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/csharp/index.html" title="C#教程">C#教程</a>
						</li>
					</ul>
				</li>
				<li class="li1">
					<a href="javascript:;">Web Services</a>
					<ul class="nav2">
						<li class="li2">
							<a href="http://www.w3cschool.cn/webservices/index.html" title="Web Services教程">Web Services教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/wsdl/index.html" title="WSDL教程">WSDL教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/soap/index.html" title="SOAP教程">SOAP教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/rss/index.html" title="RSS教程">RSS教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/rdf/index.html" title="RDF教程">RDF教程</a>
						</li>
					</ul>
				</li>
				<li class="li1">
					<a href="javascript:;">开发工具</a>
					<ul class="nav2">
						<li class="li2">
							<a href="http://www.w3cschool.cn/eclipse/index.html" title="Eclipse教程">Eclipse教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/git/index.html" title="Git教程">Git教程</a>
						</li>
						<li class="li2">
							<a href="http://www.w3cschool.cn/firebug/index.html" title="Firebug教程">Firebug教程</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!--siderbar_nav end-->
	</div>
</div>